.headerSubmenu{
    display: none;
    position: absolute;
    list-style-type: none;
    background-color: #dfdfdf;
    padding: 0% 1%;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
    width: 200px;
    box-sizing: border-box;
}

.headerLi:hover > .headerSubmenu{
    display: block;
}